:root {
  /* Primary Colors */
  --primary: hsl(238, 40%, 52%);
  --secondary: hsl(358, 79%, 66%);
  --tertiary: hsl(240, 37%, 89%);
  --quaternary: hsl(357, 100%, 86%);

  /* Neutral Colors */
  --darkest: hsl(212, 24%, 26%);
  --dark: hsl(211, 10%, 45%);
  --light: hsl(223, 19%, 93%);
  --lighter: hsl(228, 33%, 97%);
  --white: hsl(0, 0%, 100%);
}

* {
  font-family: "Rubik", "sans-serif";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: var(--light);
  /* max-width: 100%; */
  /* grid-template-rows: minmax(0, 1fr); */
}

.wrapper {
  max-width: 680px;
  width: 100%;
  /* min-width: 0px; */
  /* width: 680px; */
}

.text--primary {
  color: var(--primary);
  font-weight: 500;
}

.text--secondary {
  color: var(--darkest);
  font-weight: 700;
}

.text--neutral {
  color: var(--dark);
  font-size: 1rem;
  max-width: 100%;
}

/* Add Comment */
.addCommentWrapper {
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: var(--lighter);
  max-width: 100%;
}

.commentNormalWrapper {
  display: flex;
  align-items: start;
  gap: 10px;
  max-width: 100%;
}

.comment-input-button-responsive {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.comment-details-responsive {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  margin-top: 1rem;
  width: 100%;
}

.comment--input {
  max-width: 500px;
  width: 100%;
  padding: 0.5rem 3rem 3rem 0.8rem;
  border: 1px solid lightgray;
  border-radius: 5px;
}

/* input[type="text"],
textarea {
  max-width: 100%; 
}*/

.button-primary {
  padding: 8px 24px;
  border: none;
  background-color: var(--primary);
  color: var(--white);
  font-style: bold;
  border-radius: 5px;

  cursor: pointer;
}

.userIcon {
  width: 40px;
  height: 40px;
}

/* Comment */
.commentContainer {
  background-color: var(--lighter);
  margin-bottom: 1rem;
  padding: 1.3rem;
  border-radius: 10px;
  max-width: 100%;
  margin: 1rem;
}
.commentContent {
  display: flex;
  align-items: start;
  gap: 20px;
  max-width: 100%;
}

.counterWrapper {
  background-color: var(--tertiary);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
  border-radius: 10px;
}

.counterButton {
  border: none;
  cursor: pointer;
}

.content--current_user {
  padding: 2px 12px;
  border: none;
  background-color: var(--primary);
  color: var(--white);
  font-style: bold;
  font-size: 1rem;
}

.commentContentWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.user--details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.content--user {
  display: flex;
  align-items: center;
  gap: 15px;
}

.comment--features {
  display: flex;
  align-items: center;
  gap: 15px;
}

.comment--reply,
.comment--delete {
  display: flex;
  align-items: center;
  gap: 5px;

  cursor: pointer;
}

.counterImage {
  background-color: transparent;
  background: transparent;
}

.repliedTo {
  width: 90%;
  max-width: 100%;
  align-items: end;
}

.transparent {
  background: transparent;
  background-color: transparent;
}

.incrementText {
  color: #babbf1;
  background-color: var(--tertiary);
}

.replyContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}

.replyBreak {
  height: auto;
  margin: 0 1rem 0rem 2.5rem;
  width: 3px !important;
  border-radius: 10px;
  background-color: var(--tertiary);
}

.replyingTo {
  width: 90%;
  max-width: 100%;
}

.comment--input.reply {
  width: 375px;
}

.addCommentWrapper.replyingTo {
  margin-top: 0;
  background-color: var(--lighter);

  display: flex;
  align-items: start;
  justify-content: space-around;
}

.noMarginBottom {
  margin-bottom: 0;
}

.comment-input-button-responsive {
  display: none;
}

.counterFeatureContainerResponsive {
  display: none;
}

.boldedUsername {
  font-weight: 500;
}

/* Modal */
.deleteModal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */

  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.modalContent {
  background-color: var(--lighter);
  width: 375px;
  padding: 1.5rem;
  border-radius: 15px;
}

.delete--header {
  margin-bottom: 1rem;
}

.modal--buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-tertiary {
  padding: 12px 32px;
  font-size: 1rem;
  border-radius: 5px;
  color: var(--lighter);
  font-weight: 500;

  cursor: pointer;
}

.cancel--button {
  background-color: var(--dark);
}

.delete--button {
  background-color: var(--secondary);
}

.hidden {
  display: none;
}

@media (max-width: 375px) {
  .commentNormalWrapper {
    display: none;
  }

  .commentContent {
    flex-direction: column;
  }

  .counterFeatureContainerResponsive {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .counterWrapper {
    display: none;
  }

  .counterWrapper.counterResponsive {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem;
  }

  .content--current_user {
    padding: 1px 6px;
  }

  .text--neutral {
    font-size: 0.8rem;
  }

  .text--primary {
    font-size: 0.8rem;
  }

  .comment--reply {
    display: none;
  }

  .comment--reply.replyResponsive {
    display: flex;
  }

  .replyContainer {
    gap: 0;
  }

  .comment-input-button-responsive {
    display: flex;
  }

  .comment--reply.comment--edit {
    display: flex;
  }

  .comment--delete {
    display: none;
  }

  .comment--delete.delete--responsive {
    display: flex;
  }
}
